node_modules
vendor
.env
.git
.gitignore
.dockerignore
._*
.DS_Store
*.log
*.sqlite
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.cache
*.pid
*.seed
*.test
*.md
*.yml
*.yaml
*.xml
*.iml
*.tgz
*.gz
*.zip
*.tar
*.rar
*.7z
*.bak
*.old
*.orig
*.rej
*.sublime*
*.sublime-workspace
*.sublime-project
*.phpunit.result.cache
*.php_cs.cache
*.php_cs.dist
*.phpunit.xml
*.phpunit.result.cache
*.phpunit-watcher.cache
*.phpunit-watcher.json
*.phpunit-watcher.lock
*.phpunit-watcher.xml
*.phpunit-watcher.yml
*.phpunit-watcher.yaml
*.phpunit-watcher.php
*.phpunit-watcher.dist
*.phpunit-watcher.result.cache
*.phpunit-watcher.result.json
*.phpunit-watcher.result.xml
*.phpunit-watcher.result.yml
*.phpunit-watcher.result.yaml
*.phpunit-watcher.result.php
*.phpunit-watcher.result.dist
*.phpunit-watcher.result.bak
*.phpunit-watcher.result.old
*.phpunit-watcher.result.orig
*.phpunit-watcher.result.rej
*.phpunit-watcher.result.sublime*
*.phpunit-watcher.result.sublime-workspace
*.phpunit-watcher.result.sublime-project
*.phpunit-watcher.result.phpunit.result.cache
*.phpunit-watcher.result.phpunit-watcher.cache
*.phpunit-watcher.result.phpunit-watcher.json
*.phpunit-watcher.result.phpunit-watcher.lock
*.phpunit-watcher.result.phpunit-watcher.xml
*.phpunit-watcher.result.phpunit-watcher.yml
*.phpunit-watcher.result.phpunit-watcher.yaml
*.phpunit-watcher.result.phpunit-watcher.php
*.phpunit-watcher.result.phpunit-watcher.dist
*.phpunit-watcher.result.phpunit-watcher.result.cache
*.phpunit-watcher.result.phpunit-watcher.result.json
*.phpunit-watcher.result.phpunit-watcher.result.xml
*.phpunit-watcher.result.phpunit-watcher.result.yml
*.phpunit-watcher.result.phpunit-watcher.result.yaml
*.phpunit-watcher.result.phpunit-watcher.result.php
*.phpunit-watcher.result.phpunit-watcher.result.dist
*.phpunit-watcher.result.phpunit-watcher.result.bak
*.phpunit-watcher.result.phpunit-watcher.result.old
*.phpunit-watcher.result.phpunit-watcher.result.orig
*.phpunit-watcher.result.phpunit-watcher.result.rej
*.phpunit-watcher.result.phpunit-watcher.result.sublime*
*.phpunit-watcher.result.phpunit-watcher.result.sublime-workspace
*.phpunit-watcher.result.phpunit-watcher.result.sublime-project
*.phpunit-watcher.result.phpunit-watcher.result.phpunit.result.cache
